<app-navigation></app-navigation>
<div class="view">
  <mdb-carousel [isControls]="false" [animation]="'slide'">
    <mdb-carousel-item>
      <div class="">
        <img class="d-block" src="../../../assets/banner1-min.jpg" alt="First slide">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="">
        <img class="d-block" src="../../../assets/becca-tarter-1064087-unsplash-min (1).jpg" alt="Second slide">
        <div class="mask flex-center rgba-black-light">
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="">
        <img class="d-block" src="../../../assets/shari-sirotnak-686557-unsplash-min.jpg"
          alt="Third slide">
        <div class="mask flex-center rgba-black-light">
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>



<div class="mask rgba-blue-grey-strong align-middle">
  <div class="main-text col-md-12 text-center animated fadeInDown">
    <!-- <h1>
      Splendid Beauties</h1>
    <h3>
      Bolanle, you can obviously make this font more good looking...don't forget.
    </h3> -->
    <img src="../../../assets/splendidbeauties.png" alt="">
    <div class="" style="margin-top: -40px;">
        <button mdbBtn type="button" color="success" outline="true" mdbWavesEffect>shop now</button>
        <button mdbBtn type="button" color="default" rounded="true" outline="true" mdbWavesEffect>blog</button>
    </div>
  </div>
</div>
</div>

<div class="arrow"></div>